<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div ng-app="birdView" ng-controller="userManagementController">
	<h3>Bird Watcher Registration Form</h3>
	<form ng-submit="processUserDetails()">
		<div class="table-responsive">
			<table class="table table-bordered" style="width: 600px">
				<tr>
					<td>Name</td>
					<td><input type="text" id="name" ng-model="userform.name"
						size="30" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" id="password"
						ng-model="userform.password" size="30" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit"
						class="btn btn-primary btn-sm" ng-click="processUser()"
						value="Create / Update User" /></td>
				</tr>
			</table>
		</div>
	</form>
	<h3>Registered Bird Watchers</h3>
	<div class="table-responsive">
		<table class="table table-bordered" style="width: 600px">
			<tr>
				<th>Name</th>
				<th>Actions</th>
			</tr>

			<tr ng-repeat="user in users">
				<td>{{ user.name}}</td>
				<td><a ng-click="editUser(user)" class="btn btn-primary btn-sm">Edit</a>
					| <a ng-click="deleteUser(user)" class="btn btn-danger btn-sm">Delete</a></td>
			</tr>
		</table>
	</div>
</div>
